body,html {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    height: 100vh;
}


.calendar-container{
   display: flex;
   height: 100vh;
}

.side-tab{
   background-color: #7d9b7e;
   color: white;
   width: 250px;
   min-width: 250px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   position: fixed; /*stays on screen even scrolling*/
   height: 100vh;
}

.header-side{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.back-button{
   /* display: inline-flex;
   align-items: center; */
   /* gap: 8px; */
   border: none;
   background-color: transparent;
   color: rgb(59, 100, 61);
   font-size: 30px;
   cursor: pointer;
}


.side-tab h2{
   margin: 0;
   font-size: 35px;
}

.back-button:hover{
   color: #ecf0f1;
}

.side-tab ul{
   list-style-type: none;
   padding: 0;
   margin-top: 30px;
}

.side-tab l{
   margin: 10px 0;
}

 .tab-list a{
   color: white;
   text-decoration: none; /*no underline*/
   font-size: 20px;
   padding: 30px 20px;
   display: inline-block;
   border-radius: 5px;
   /* transition: background-color 0.3s; */
}

.tab-list a:hover{
   /* text-decoration: underline; */
   background-color: rgb(42, 88, 49);
   width: 200px;
   color: #7d9b7e;
}

/* editing individual items on tab list */
.tab-list li:nth-child(1) a{
     background-color: white;
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(1) a:hover{
     background-color: rgb(42, 88, 49);
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(3) a{
     background-color: white;
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(3) a:hover{
     background-color: rgb(42, 88, 49);
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(5) a{
     background-color: white;
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(5) a:hover{
     background-color: rgb(42, 88, 49);
     color: #7d9b7e;
     width: 200px;
}


/* styling of content on the right */
.main-content{
   margin-left: 280px; 
   padding: 20px;
   width: calc(100%-250px);
   overflow-y: auto;
   background-image: image("/demo/src/main/resources/assets/background.png");
}

#msg-block{
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 50vw;
   height: 50vh;
   background-color: white;
   border: none;
   box-shadow: 1px 1px 3px rgb(157, 157, 157);
   padding: 30px;
   border-radius: 10px;
   margin-left: 15%;
   margin-top: 8%;
   text-align: center;
}

#msg-block h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #7d9b7e;
   margin-top: 2rem;
}

#calendar{
   width: 75vw;
   /* max-width: 100%; */
   margin: 40px auto;
   height: 78vh;
   padding: 0 10px;
}

/* .calendar-container{
   width: 95%;
   margin: 0 auto;
} */

#link-btn{
   position: relative;
   width: 15rem;
   height: 3rem;
   font-size: 20px;
   border: 1px solid green;
   color: green;
   background-color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px;
   margin-top: 130px;
   border-radius: 10px;
   box-shadow: 1px 1px 3px rgb(148, 148, 148);
   cursor: pointer;
}

#link-btn:hover{
   color: #ecf0f1;
   background-color: #7d9b7e;
}