body,htm {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}


.deadlines-container{
   display: flex;
   height: 100vh;
}

.side-tab{
   background-color: #7d9b7e;
   color: white;
   width: 250px;
   min-width: 250px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   position: fixed; /*stays on screen even scrolling*/
   height: 100vh;
}

.header-side{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.back-button{
   /* display: inline-flex;
   align-items: center; */
   /* gap: 8px; */
   border: none;
   background-color: transparent;
   color: rgb(59, 100, 61);
   font-size: 30px;
   cursor: pointer;
}


.side-tab h2{
   margin: 0;
   font-size: 35px;
}

.back-button:hover{
   color: #ecf0f1;
}

.side-tab ul{
   list-style-type: none;
   padding: 0;
   margin-top: 30px;
}

.side-tab l{
   margin: 10px 0;
}

 .tab-list a{
   color: white;
   text-decoration: none; /*no underline*/
   font-size: 20px;
   padding: 30px 20px;
   display: inline-block;
   border-radius: 5px;
   /* transition: background-color 0.3s; */
}

.tab-list a:hover{
   /* text-decoration: underline; */
   background-color: #000000;
   width: 200px;
   color: #7d9b7e;
}

/* editing individual items on tab list */
.tab-list li:nth-child(1) a{
     background-color: white;
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(1) a:hover{
     background-color: rgb(28, 28, 28);
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(3) a{
     background-color: white;
     color: #7d9b7e;
     width: 200px;
}

.tab-list li:nth-child(3) a:hover{
     background-color: rgb(28, 28, 28);
     color: #7d9b7e;
     width: 200px;
}

/* styling of content on the right */
.main-content{
   margin-left: 280px; 
   padding: 20px;
   width: calc(100%-250px);
   overflow-y: auto;
}