<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/adminUsers.css">
    <script src="/demo/src/main/resources/script/adminUsers.js" defer></script>

    <link rel="stylesheet" href="/CSS/adminUsers.css">
    <script src="/script/adminUsers.js" defer></script>

    <title>Admin user</title>
</head>
<body>
     <div class="users-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button title="back-btn" class="back-button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <!-- <h2>Plan-Nest</h2> -->
            </div>
            <ul class="tab-list">
                <li><a href="defaultDashboard.html">My Dashboard</a></li>
                <li><a href="projectsHome.html">My Projects</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="rewards.html">Rewards</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="client.html">Clients</a></li>
                <li><a href="adminUsers.html">Active Users</a></li>
            </ul>
        </div>
        <!-- end of side tab -->


        <!-- code for main content on right of page -->
        <div class="main-content">
                <!-- code of the top header -->
            <div class="search-block">

                <!-- code for title top block -->
                <div class="title-block">
                    <h1>Users</h1>
                </div>
                <!-- code for new project block -->
                 

                 <div class="search-bar">
                        <input type="text" placeholder="Search">
                 </div>
            </div>
            <!-- end of code for header on right of page -->

            <div class="users-display">
                <p  class="no-users-msg">You have no users signed in yet. Check back when there has been new registrations to edit roles.</p>
                <div class="users-tiles">

                </div>
            </div>
        </div>
    </div>

</body>
</html>