<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" >
      <script src="https://unpkg.com/fullcalendar@6.1.8/index.global.min.js"></script>
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/calendar.css">
    <script src="/demo/src/main/resources/script/calendar.js"></script>

     <link rel="stylesheet" href="/CSS/calendar.css">
     <script src="/script/calendar.js"></script>
    <title>Calendar</title>
</head>
<body>
    <div class="calendar-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button type="button" title="back-btn" class="back-button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <h2>Plan-Nest</h2>
            </div>
            <ul class="tab-list">
               <li><a href="defaultDashboard.html">My Dashboard</a></li>
                <li><a href="projectsHome.html">My Projects</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="client.html">Clients</a></li>
                 <li><a href="teams.html">Teams</a></li>
                <li><a href="adminUsers.html">Active Users</a></li>
            </ul>
        </div>
        <!-- end of side tab -->

        <!-- code for main content on right of page -->
        <div class="main-content">
            <div th:if="${!linked}" id="msg-block">
                <h1>Sign into your Google account, to view google calendar events and link project deadlines.</h1>
                <div th:if="${!linked}">
                    <a href="/oauth2/authorization/google">
                    <button type="button" id="link-btn">Link Google Account</button>
                    </a>
                </div>
            </div>   
            <div th:if="${linked}">
                <p>Google account linked successfully!</p>
                <div id="calendar"></div>
            </div> 
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var isLinked = /*[[${linked}]]*/ false;
        /*]]>*/
    </script>
</body>
</html>