<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/customDash.css">
    <script src="/demo/src/main/resources/script/customDash.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>

    <link rel="stylesheet" href="/CSS/customDash.css">
    <script src="/script/customDash.js" defer></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Custom Dashboard</title>
</head>
<body>
    <div class="dashboard-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button title="back" type = "submit" class="back-button" onclick="signOut()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <h2>Plan-Nest</h2>
            </div>
            <ul class="tab-list">
                <li><a href="customizableDashboard.html">My Dashboard</a></li>
                <li><a href="projectsHome.html">My Projects</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="rewards.html">Rewards</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="client.html">Clients</a></li>
                <li id="admin-tab"><a href="adminUsers.html">Active Users</a></li>
            </ul>
        </div>
        <!-- end of side tab -->

        <!-- code for main header on right of page -->
        <div class="main-content">

            <!-- code of the top header -->
            <div class="search-block">
               <div class="user-icon" onclick="openPopup()">
                    <i class="fa-regular fa-user"></i>
               </div>  
               
               <!-- code for the user popup block -->
                <div id="userPopup" class="popup">
                    <div class="popup-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <h3>User Information</h3>
                        <p>Username: <span id="popupUsername"></span></p>
                        <p>User role: <span id="popupRoles"></span></p>
                        <button type="submit" onclick="signOut()">Sign Out</button>
                    </div>
                </div>

                <!-- code for notifications icon -->
                <div class="bell-icon" id="notification-wrapper">
                    <i class="fa-regular fa-bell" id="notification-bell"></i>

                    <div id="notifications-container" class="notification-dropdown hidden">
                        <h4>Upcoming Deadlines</h4>
                        <ul id="notification-list"></ul>
                    </div>
                </div>

                <!-- code for new project block -->
                 <div class="newProject">
                    <a title="plus-icon" href="indivProject.html" class="newProj-btn">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <h3>New Project</h3>
                 </div>

                 <div class="newProject">
                    <a title="plus-icon" href="indivClient.html" class="newClient-btn">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <h3>New Client</h3>
                 </div>

                 <div class="search-bar">
                        <input type="text" id="dashboard-search" placeholder="Search">
                 </div>

            </div>
            <!-- end of code for header on right of page -->
            <!-- <h1>My Dashboard</h1> -->
            <div class="tiles-container">

             <!-- <div class="date">
                <input title="date" type="date">
             </div> -->

                <div id="deadlines" class="dead-widget">
                    <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button>
                    <!-- <i id="deadline-icon" class="fa-solid fa-timeline"></i> -->
                    <h3 class="widget-heading">My deadlines</h3>
                </div>
            
                
            <div id="meetings" class="meeting-widget">
                <!-- <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button> -->
                <!-- <i class="fa-solid fa-handshake"></i> -->
                <h3 class="widget-heading">My complete tasks</h3>
                <p class="empty-state-tasks">This is where your project's complete tasks will show. 
                        Start a project to see this in action.
                    </p>
            </div>

            <div id="teams" class="team-widget">
                <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button>
                <!-- <i class="fa-solid fa-people-group"></i> -->
                <h3 class="widget-heading">My teams</h3>
            </div>

            <div id="progress" class="progress-widget">
                <!-- <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button> -->
                <h3 class="widget-heading">Task Progress</h3>
                <!-- <i class="fa-solid fa-bars-progress"></i> -->
                <div class="progress-circle" id="circle" style="--progress: 0">
                    <span id="progress-label">0%</span>
                </div>
            </div>

            <div id="tasks" class="task-widget" draggable="true">
                <!-- <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button> -->
            <h3 class="widget-heading">To do list:</h3>
                <div class="task-input-block">
                    <input type="text" id="task-input" placeholder="Enter a task"/>
                    <button type="button" onclick="addTask()">Add task</button>
                </div>
                
                <ul id="task-list"></ul>
            </div>

            <div id="s-curve-tile" class="graph-widget">
                    <h3 class="widget-heading">Graph Visual:</h3>
                    <p class="empty-state-graph">This is where your project's progress curve will show. 
                        Start a project to see this in action.
                    </p>
                    <label for="projectSelector">Select Project:</label>
                    <select id="projectSelector"></select>

                    <canvas id="sCurveChart" width="600" height="300"></canvas>
                </div>

             <!-- <div id="graphs" class="graph-widget">
                <button title="close" type="button" class="close-btn"><i class="fa-solid fa-circle-xmark"></i></button>
                
                 <h3>Graph Visual:</h3>
                    <p class="empty-state">This is where your project's progress curve will show. 
                        Start a project to see this in action.
                    </p>
                    <label for="projectSelector">Select Project:</label>
                    <select id="projectSelector"></select>

                    <canvas id="sCurveChart" width="600" height="300"></canvas>
              
             </div> -->

            </div>
            
        </div>
    </div>
</body>
</html>