<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/deadlines.css">

    <link rel="stylesheet" href="/CSS/deadlines.css">

    <title>Deadlines</title>
</head>
<body>
    <div class="deadlines-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button title="back-btn" class="back-button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <!-- <h2>Plan-Nest</h2> -->
            </div>
            <ul class="tab-list">
               <li><a href="defaultDashboard.html">My Dashboard</a></li>
                <li><a href="projectsHome.html">My Projects</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="rewards.html">Rewards</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="client.html">Clients</a></li>
                <li id="admin-tab"><a href="adminUsers.html">Active Users</a></li>
            </ul>
        </div>
        <!-- end of side tab -->

        <!-- code for main content on right of page -->
        <div class="main-content">
                <!-- code of the top header -->
            <div class="search-block">

                <!-- code for title top block -->
                <div class="title-block">
                    <h1>Upcoming Deadlines</h1>
                </div>

                 <!-- <div class="search-bar">
                        <input type="text" placeholder="Search">
                 </div> -->
            </div>
            <!-- end of code for header on right of page -->

            <div class="deadlines-container">
                <div class="projects-display">
                <p  class="no-projects-msg">You have no deadlines yet. Create a new project to get started!</p>
                
            </div>
            </div>
                
        </div>
    </div>
    <script src="/demo/src/main/resources/script/deadlines.js" defer></script>
    <script src="script/deadlines.js" defer></script>
</body>
</html>