<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/login.css">
    <script src="/demo/src/main/resources/script/login.js"></script>

    <link rel="stylesheet" href="/CSS/login.css">
    <script src="/script/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1>Welcome back!!</h1>
            <p id="login-text">Sign into your account.</p>
            <form id="login-form" method="post">
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
            </form>
            <button type="button" id="login-btn" onclick="loginUser()">Login</button>
            <p>Don't have an account? <a href="index.html" id="signUp-link">Sign Up here.</a></p>
        </div>
        <div class="image-container">
            <img src="/demo/src/main/resources/assets/login-side.jpeg" alt="No display">
        </div>
    </div>
</body>
</html>