<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/projectsHome.css">
    <title>Projects</title>
</head>
<body>
    <div class="projects-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button class="back-button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <h2>Plan-Nest</h2>
            </div>
            <ul class="tab-list">
                <li><a href="defaultDashboard.html">Dashboard</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
            </ul>
        </div>
        <!-- end of side tab -->

        <!-- code for main content on right of page -->
        <div class="main-content">
                <h1>My Projects</h1>
                <p>Projects</p>
        </div>
    </div>
</body>
</html>