<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/demo/src/main/resources/static/CSS/rewards.css">
    <script src="/demo/src/main/resources/script/rewards.js"></script>

    <link rel="stylesheet" href="/CSS/rewards.css">
    <script src="/script/rewards.js"></script>
    <title>Rewards</title>
</head>
<body>
<div class="rewards-container">
        <!-- code for side tab for every screen -->
        <div class="side-tab">
            <div class="header-side">
                    <button title="back" type = "submit" class="back-button" onclick="signOut()">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <h2>Plan-Nest</h2>
            </div>
            <ul class="tab-list">
                <li><a href="defaultDashboard.html">My Dashboard</a></li>
                <li><a href="projectsHome.html">My Projects</a></li>
                <li><a href="templatesHome.html">Templates & Graphs</a></li>
                <li><a href="deadlines.html">Deadlines</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="rewards.html">Rewards</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="client.html">Clients</a></li>
                <li><a href="adminUsers.html">Active Users</a></li>
            </ul>
        </div>
        <!-- end of side tab -->

        <!-- code for main header on right of page -->
        <div class="main-content">
            <div class="reward-container">
                <div class="gift-box">
                    <div class="lid"></div>
                    <div class="box"></div>
                    <i class="fa-solid fa-award"></i>
                    <div class="surprise hidden"> Congratulations!</div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
</html>